<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="..\Template\Template.css">
</head>

<body>
  <article id="navbar">
    <nav>
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Mad's Portfolio
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="..\root\home.html" class="active">Home</a>
        <a href="..\root\projects.html">Projects</a>
        <a href="..\root\skills.html">Skills</a>
        <a href="..\root\educationandwork.html">Education and Work Experience</a>
        <a href="..\root\contactme.html">Contact Me</a>
      </div>
    </nav>
  </article>
</body>

</html>