@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.c {
    position: relative;
    margin: 2em;
}

input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: 0;
}

h1 {
    background: #2b2b2b;
    color: white;
    padding: 1em;
    position: relative;
    font-family: "League Spartan", system-ui, sans-serif;;
}

label::before {
    content: "";
    display: inline-block;
    border: 15px solid transparent;
    border-left: 20px solid white;
}

label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

div.p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: #5f5f5f;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-family: "League Spartan", system-ui, sans-serif;
    color: rgb(255, 255, 255);
}

div.p p {
    padding: 2em;
}

input:checked~h1 label::before {
    border-left: 15px solid transparent;
    border-top: 20px solid white;
    margin-top: 12px;
    margin-right: 10px;
}

input:checked~h1~div.p {
    max-height: 100px;
}

a {
    color: steelblue;
}